.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* NAVIGATION BAR (PHONES)*/
@media (max-width: 500px ) {
  .topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%; 
    position: fixed;
    transition: top 0.3s;
    list-style-type: none;
    z-index: 100;
    font-size: 15px;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 15px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
}
/* NAVIGATION BAR (COMPUTERS)*/
@media (min-width: 1000px ) {
  .topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%; 
    position: fixed;
    transition: top 0.3s;
    list-style-type: none;
    z-index: 100;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 15px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
}



/* MAIN AREAS */
.App-header {
  background-color:#333;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color: #02811e;
  
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
  url("images/fireplace.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;

  
}
.App-body-darker {
  background-color: #0750e2;
  
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
  url("images/fireplace.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;

  
}

.App-footer {
  background-color: #333;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* CONTACT AREA (PHONES)*/
@media (max-width: 500px ) {
  .contact-container .card{
    width: 300px;
    background: #60ee53;
    font-family: "Roboto", sans-serif;
    padding: 16px;
    box-shadow: 0 9px 17px -6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 400ms ease;
  }
  
  .contact-container,
  .contact-container * {
    box-sizing: border-box;
  }
  .contact-container .card:hover {
    transform: scale(1.03);
  }
  
  .contact-container .card a{
    text-decoration: none;
    color: #14213d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .contact-container .card img{
    margin: -16px;
    object-fit: cover;
  }
  
  .contact-container .card .category {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #14213d;
    color: white;
    padding: 2px 16px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 10px;
  }
  
  .contact-container .card h2.title {
    font-size: 15px;
    margin: 28px 0 10px 0;
    line-height: 1.4;
  
  }
  
  .contact-container .card .description {
    font-size: 12px;
    color: #333;
    margin: 0;
    line-height: 1.7;
    font-weight: bold;
  }
  
  .contact-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    max-width: 800px;
    margin: 20px auto;
  }
}
/* CONTACT AREA (COMPUTERS)*/
@media (min-width: 1000px ) {
  .contact-container .card{
  width: 500px;
  background: #60ee53;
  font-family: "Roboto", sans-serif;
  padding: 16px;
  box-shadow: 0 9px 17px -6px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 400ms ease;
}

.contact-container,
.contact-container * {
  box-sizing: border-box;
}
.contact-container .card:hover {
  transform: scale(1.03);
}

.contact-container .card a{
  text-decoration: none;
  color: #14213d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contact-container .card img{
  margin: -16px;
  object-fit: cover;
}

.contact-container .card .category {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #14213d;
  color: white;
  padding: 2px 16px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 10px;
}

.contact-container .card h2.title {
  font-size: 20px;
  margin: 28px 0 10px 0;
  line-height: 1.4;

}

.contact-container .card .description {
  font-size: 15px;
  color: #333;
  margin: 0;
  line-height: 1.7;
  font-weight: bold;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  /*max-width: 800px;*/
  margin: 20px auto;
}
}




/* SMALL AREAS */
.App-link {
  color: black;
  font-weight: bold;
}

.paragraph{
  color: black;
  font-weight: bold;
  border-style: solid;
  border-width:3px;
  padding: 20px;
}
.color{
  color: black;
  font-weight: bold;
}

.about{
  background-color: black;
  width: 80%;
  border: 5px solid green;
  padding: 25px;
  margin: 10px;
}

@media (max-width: 500px){
.button {
  background-color: rgb(39, 133, 255);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-top: 100px;
  margin-right: 10px;
  position:absolute;
  top:0;
  right:0;
}

.header1{
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to left, #ff0000, #0044ff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
}

@media (min-width: 1000px){
  .button {
    background-color: rgb(39, 133, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 100px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right:0;
  }
  
  .header1{
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #ff0000, #0044ff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}